# Get these from your API settings: https://supabase.com/dashboard/project/_/settings/api

NEXT_PUBLIC_SUPABASE_URL=https://yjytukbpxxssilaqmybv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlqeXR1a2JweHhzc2lsYXFteWJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTE0MDM2NDIsImV4cCI6MjAwNjk3OTY0Mn0.rbdtfP3gfVvq2tkrJqf6PVtnPyfVYx6P5Qql0Jpx968